In [6]:
#load SQL magic
%load_ext sql

In [7]:
# Enter the connection string for Db2 on Cloud database
%sql ibm_db_sa://mgb17542:dkw5hl3%5Eqm57tf2c@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: mgb17542@BLUDB'

In [8]:
# Rows in Census Data (Socieconimic Indicators)
%sql select Count(*) as "Rows in Census Data" from CENSUS_DATA

 * ibm_db_sa://mgb17542:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [9]:
# Rows in Public Schools
%sql select Count(*) as "Rows in Public Schools" from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://mgb17542:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [10]:
# Rows in Crime Data
%sql select Count(*) as "Rows in Crime Data" from CHICAGO_CRIME_DATA

 * ibm_db_sa://mgb17542:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [20]:
# Average college enrollments by community area
%sql select AVG(college_enrollment) as "Avg College Enrollment", community_area_name from CHICAGO_PUBLIC_SCHOOLS group by community_area_name fetch first 10 rows only

 * ibm_db_sa://mgb17542:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('858.000000'), 'ALBANY PARK'),
 (Decimal('2411.500000'), 'ARCHER HEIGHTS'),
 (Decimal('486.000000'), 'ARMOUR SQUARE'),
 (Decimal('810.375000'), 'ASHBURN'),
 (Decimal('417.500000'), 'AUBURN GRESHAM'),
 (Decimal('475.347826'), 'AUSTIN'),
 (Decimal('507.333333'), 'AVALON PARK'),
 (Decimal('910.000000'), 'AVONDALE'),
 (Decimal('1198.833333'), 'BELMONT CRAGIN'),
 (Decimal('409.000000'), 'BEVERLY')]

In [21]:
# Number of schools that are healthy school certified in Chicago
%sql select Count(*) from CHICAGO_PUBLIC_SCHOOLS where healthy_school_certified='Yes'

 * ibm_db_sa://mgb17542:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('16'),)]

In [22]:
# How many observations have a Location Description value of GAS STATION?
%sql select Count(*) from CHICAGO_CRIME_DATA where location_description='GAS STATION'

 * ibm_db_sa://mgb17542:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

In [23]:
# Retrieve a list of the top 10 community areas which have most number of schools and sorted in descending order
%sql select Count(*), community_area_name from CHICAGO_PUBLIC_SCHOOLS group by community_area_name order by 1 desc fetch first 10 rows only

 * ibm_db_sa://mgb17542:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('23'), 'AUSTIN'),
 (Decimal('22'), 'SOUTH LAWNDALE'),
 (Decimal('20'), 'WEST TOWN'),
 (Decimal('17'), 'ENGLEWOOD'),
 (Decimal('16'), 'NEAR WEST SIDE'),
 (Decimal('16'), 'NORTH LAWNDALE'),
 (Decimal('13'), 'EAST GARFIELD PARK'),
 (Decimal('13'), 'ROSELAND'),
 (Decimal('13'), 'NEW CITY'),
 (Decimal('13'), 'HUMBOLDT PARK')]

In [24]:
# How many observations have value MOTOR VEHICLE THEFT in the Primary Type variable?
%sql select Count(*) from CHICAGO_CRIME_DATA where Primary_Type='MOTOR VEHICLE THEFT'

 * ibm_db_sa://mgb17542:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('24'),)]

In [28]:
# Find the minimum “Average Student Attendance” for the community area where hardship is 96
%sql select MIN("AVERAGE_STUDENT_ATTENDANCE") as MIN_AVERAGE_STUDENT_ATTENDANCE from CHICAGO_PUBLIC_SCHOOLS INNER JOIN CENSUS_DATA ON CHICAGO_PUBLIC_SCHOOLS."COMMUNITY_AREA_NUMBER"=CENSUS_DATA."COMMUNITY_AREA_NUMBER" Where CENSUS_DATA."HARDSHIP_INDEX"='96' \
Group by "AVERAGE_STUDENT_ATTENDANCE" limit 1

 * ibm_db_sa://mgb17542:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('86.10%',)]